<nav class="flex gap-4">
  <.link navigate={~p"/"}>Dashboard</.link>
  <.link navigate={~p"/contacts"}>Contactos</.link>
  <.link navigate={~p"/templates"}>Plantillas</.link>
  <.link navigate={~p"/messages"}>Mensajes</.link>
  <.link navigate={~p"/calls"}>Llamadas</.link>
</nav>
